#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_nb_osx.h"
#include "keys_nb_win.h"

#define WIN 1
#define SYMBOLS 2
#define NUMBERS 3
#define NAV 4
#define FUNCTION 5
#define BLUETOOTH 6
#define MOUSE 7
#define CLICK 8
#define SCRL 9
#define BIRO 10
    // tapping-term-ms

#define TT 160
&caps_word { continue-list = <NB_UNDERSCORE NB_MINUS WNB_UNDERSCORE WNB_MINUS BACKSPACE DEL>; };


/ {
    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <6>;
    };

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";   
        device = <&vtrackball>;
        layers = <7>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <16>;
    };

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <2>;
        evt-type = <INPUT_EV_REL>;            
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        y-invert;
        bindings = <&ib_wheel_scaler 1 8>;
    };

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    chosen {
        zmk,matrix_transform = &five_column_transform;
    };

    {
    combos {
        compatible = "zmk,combos";

        combo_ques {
            timeout-ms = <35>;
            key-positions = <7 6>;
            bindings = <&ques_excl>;
        };

        aa {
            timeout-ms = <35>;
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <26 27>;
        };

        ae {
            timeout-ms = <35>;
            bindings = <&kp APOS>;
            key-positions = <3 2>;
        };

        oe {
            timeout-ms = <35>;
            bindings = <&kp SEMI>;
            key-positions = <23 22>;
        };

        combo_rpara {
            bindings = <&par_square_r>;
            key-positions = <27 28>;
        };
        combo_para {
            bindings = <&paras>;
            key-positions = <7 8>;
        };

        combo-lcurl {
            bindings = <&curl_great_l>;
            key-positions = <2 1>;
            layers = <0>;
        };

        combo_rcurl {
            bindings = <&curl_less_r>;
            key-positions = <22 21>;
            layers = <0>;
        };

        combo_at {
            bindings = <&kp NB_AT>;
            key-positions = <2 7>;
            layers = <0>;
        };

        caps_word_combo {
            bindings = <&caps_word>;
            key-positions = <11 18>;
        };

        amp_combo {
            bindings = <&kp NB_AMPS>;
            key-positions = <13 16>;
        };

        grave_combo {
            bindings = <&kp NB_GRAVE>;
            key-positions = <1 8>;
        };

        dollar_combo {
            bindings = <&kp NB_DLLR>;
            key-positions = <12 17>;
            layers = <0>;
        };

        percent_combo {
            bindings = <&kp NB_PRCNT>;
            key-positions = <16 7>;
        };

        hash_combo {
            bindings = <&kp NB_HASH>;
            key-positions = <23 26>;
        };

        win_curl_l {
            bindings = <&kp WNB_LBRC>;
            key-positions = <2 1>;
            layers = <1>;
        };

        win_curl_r {
            bindings = <&kp WNB_RBRC>;
            key-positions = <22 21>;
            layers = <1>;
        };

        win_at {
            bindings = <&kp WNB_AT>;
            key-positions = <2 7>;
            layers = <1>;
        };

        pipe_mac {
            bindings = <&kp NB_PIPE>;
            key-positions = <7 17>;
            layers = <0>;
        };

        pipe_win {
            bindings = <&kp WNB_PIPE>;
            key-positions = <7 17>;
            layers = <1>;
        };

        bslh_mac {
            bindings = <&kp NB_BSLH>;
            key-positions = <8 18>; 
            layers = <0>;
        };

        bslh_win {
            bindings = <&kp WNB_BSLH>;
            key-positions = <8 18>;
            layers = <1>;
        };

        fslh_combo {
            bindings = <&kp NB_FSLH>;
            key-positions = <6 16>;
            //global
        };

        dollar_win {
            bindings = <&kp WNB_DLLR>;
            key-positions = <12 17>;
            layers = <1>;
        };

        pnd_mac {
            bindings = <&kp NB_POUND_SIGN>;
            key-positions = <3 6>;
            layers = <0>;
        };

        pnd_win {
            bindings = <&kp WNB_POUND_SIGN>;
            key-positions = <3 6>;
            layers = <1>;
        };

        win_def {
            bindings = <&tog 1>;
            key-positions = <30 33>;
        };
    };
};

 {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            bindings = <&kp>, <&kp>;

            label = "HML";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 31 32>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            bindings = <&kp>, <&kp>;

            label = "HMR";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 34 33>;
            hold-trigger-on-release;
        };

        hmpt: homerow_mods_prefer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_PREFER_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <TT>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        blt: balanced_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCED_LAYER_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <TT>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };

        tt: toggle_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "TOGGLE_LAYER_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&tog>;
        };

        repeat_encoder: repeat_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "REPEAT_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&kp BSPC>, <&key_repeat>;
        };

        tsl: behavior_trackball_scroll {
            compatible = "zmk,behavior-point-device-incremental";
            label = "TRACKBALL_SCROLL";
            #trackball-binding-cells = <0>;
            mode = "scroll-mode";
            flavor = "default";
            scale_mode = "dividor";
            scale_factor = <4>;
            smoothing;
        };

        tkp_fast: behavior_trackball_key_press {
            compatible = "zmk,behavior-point-device-directional";
            label = "TRACKBALL_KEY_PRESS";
            #trackball-binding-cells = <4>;
            mode = "distance-mode";
            flavor = "2-dim";
            step_size = <50>;
        };

        apos_dqt: quot_doublequot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NB_SINGLE_QUOTE>, <&kp NB_DQT>;

            label = "quotus";
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        apos_dqt_win: quot_doublequot_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp WNB_APOS>, <&kp WNB_DQT>;

            label = "quotus_win";
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ques_excl: questionmark_exlamation_mark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NB_QMARK>, <&kp NB_EXCL>;

            label = "questus";
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        par_square_l: par_square_l {
            compatible = "zmk,behavior-mod-morph";
            label = "PAR_SQUARE_L";
            bindings = <&kp NB_LPAR>, <&kp NB_LBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
        paras: paras {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAS";
            bindings = <&kp NB_LPAR>, <&kp NB_RPAR>;
        }
        par_square_r: par_square_r {
            compatible = "zmk,behavior-mod-morph";
            label = "PAR_SQUARE_R";
            bindings = <&kp NB_RPAR>, <&kp NB_RBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
        curl_great_l: curl_great_l {
            compatible = "zmk,behavior-mod-morph";
            label = "CURL_GREAT";
            bindings = <&kp NB_LBRC>, <&kp NB_GT>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        curl_less_r: curl_less_r {
            compatible = "zmk,behavior-mod-morph";
            label = "CURL_LESS";
            bindings = <&kp NB_RBRC>, <&kp NB_LT>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        shift_space: shift_space {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_SPACE";
            bindings = <&kp SPACE>, <&kp ESC>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        back_del: back_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BACK_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
    };
        compatible = "zmk,keymap";

        default {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //  '    |  ,  |  .  |  P/Nav  |  Y  |                             |  F/Fn  |  G  |  C/Caps  |    R    |  L   |
            // A/Sym |  O/Ctrl  |  E/Alt [A->F13]? |  U/Cmd  |  I  |           |  D  |  H/Cmd  |  T/Alt  |    N/Ctrl    |  S/Sym |
            // Esc/Lsft|  Q/Click  |  J  |  K  |  X  |                               |  B  |  M  |  N  |    V    |Z/Rsft|
            // | Media/Play-Pause | Bspc/LC | SPC/Num/RC |                                                       | Ent | Tab |     |

            bindings = <
  &kp Q        &kp W        &kp F         &kp P               &kp B         &kp J    &kp L               &kp U         &kp Y        &apos_dqt
  &hml LGUI A  &hml LALT R  &hml LCTRL S  &hml LSHFT T        &kp G         &kp M    &hmr RIGHT_SHIFT N  &hmr RCTRL E  &hmr LALT I  &hmr RGUI O
  &lt 7 Z      &kp X        &kp C         &kp D               &kp V         &kp K    &kp H               &kp COMMA     &kp DOT      &kp QMARK
                                          &blt NUMBERS SPACE  &blt 5 TAB    &kp RET  &blt 4 BSPC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        win {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //  '    |  ,  |  .  |  P/Nav  |  Y  |                             |  F/Fn  |  G  |  C/Caps  |    R    |  L   |
            // A/Sym |  O/Ctrl  |  E/Alt [A->F13]? |  U/Cmd  |  I  |           |  D  |  H/Cmd  |  T/Alt  |    N/Ctrl    |  S/Sym |
            // Esc/Lsft|  Q/Click  |  J  |  K  |  X  |                               |  B  |  M  |  N  |    V    |Z/Rsft|
            // | Media/Play-Pause | Bspc/LC | SPC/Num/RC |                                                       | Ent | Tab |     |

            bindings = <
  &kp Q        &kp W        &kp F         &kp P               &kp B         &kp J    &kp L               &kp U         &kp Y        &apos_dqt_win
  &hml LGUI A  &hml LALT R  &hml LCTRL S  &hml LSHFT T        &kp G         &kp M    &hmr RIGHT_SHIFT N  &hmr RCTRL E  &hmr LALT I  &hmr RGUI O
  &lt 7 Z      &kp X        &kp C         &kp D               &kp V         &kp K    &kp H               &kp COMMA     &kp DOT      &kp QMARK
                                          &blt NUMBERS SPACE  &blt 5 TAB    &kp RET  &blt 4 BSPC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        symbols {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //  !  |  @  |  {  |  }  |     |                |         |    <    |    >   |  *  |   #  |
            //  ^  |  $  |  (  |  )  |  \  |                |    &    |    =    |    -   |  :  |   ;  |
            //  ~  |  `  |  [  |  ]  |     |                |         |    +    |    _   |  %  |   ?  |
            //         |  ,,  | |/&  | //\ |                |    "    |    `    |   ,,   |

            bindings = <
  &kp EXCL   &hml LS(LCTRL) AT  &hmpt LS(LALT) LBRC  &hml LS(LCMD) RBRC  &none                  &none     &hml RS(RCMD) LT  &hmpt RS(LALT) GT  &hml RS(RCTRL) ASTERISK  &hml LA(N3) HASH
  &kp CARET  &hml LCTRL DOLLAR  &hmpt LALT LPAR      &hml LCMD RPAR      &kp BACKSLASH          &kp AMPS  &hml RCMD EQL     &hmpt LALT MINUS   &hml RCTRL COLON         &kp SEMICOLON
  &kp TILDE  &kp GRAVE          &kp LBKT             &kp RBKT            &none                  &none     &kp PLUS          &kp UNDERSCORE     &kp PERCENT              &kp QMARK
                                                     &mt AMPS PIPE       &mt BACKSLASH SLASH    &kp DQT   &kp GRAVE
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };

        numbers {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //   s-f5  |  s-f6  |  s-f7 |  s-f8  |   |            |         |    4/<    |    5/>   |  6/*  |   7//  |
            //    s-f1   |  s-f2 |  s-f3 | s-f4 |   |             |   DEL   |    0/=    |    1/-   | 2/: |   3/;  |
            //     s-f9   | s-f10 | s-f11 | s-f12 |   |           |         |    8/+    |    9/_   | +/- | *//  |
            //         |      |     |      |     |      |    .    |    =    |      |

            bindings = <
  &kp LS(F5)        &kp LS(F6)   &kp LS(F7)    &kp LS(F8)   &none    &kp NB_BSLH  &kp N7  &kp N8  &kp N9  &kp NB_STAR
  &kp LEFT_CONTROL  &kp LALT     &kp LEFT_GUI  &kp LSHIFT   &none    &kp NB_FSLH  &kp N4  &kp N5  &kp N6  &kp NB_EQUAL
  &kp LS(F9)        &kp LS(F10)  &kp LS(F11)   &kp LS(F12)  &none    &kp NB_PIPE  &kp N1  &kp N2  &kp N3  &kp NB_PLUS
                                               &none        &none    &kp DOT      &kp N0
            >;
        };

        nav {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //     |     |     |     |     |                |         |         |    ^   |     |      |
            //     |     |     |     |     |                |         |    <    |    v   |  >  |      |
            //     |     |     |     |     |                |         |   HOME  |        | END |      |
            //         |      |     |      |     |      |    PgDN   |   PgUP  |      |

            bindings = <
  &none     &bt BT_SEL 0  &bt BT_PRV  &bt BT_NXT  &none     &none  &none            &kp UP     &none     &none
  &kp LEFT  &kp DOWN      &kp UP      &kp RIGHT   &tog 4    &none  &kp RIGHT_SHIFT  &kp LCTRL  &kp RALT  &kp LGUI
  &kp HOME  &kp PG_DN     &kp PG_UP   &kp END     &none     &none  &kp HOME         &none      &kp END   &none
                                      &trans      &trans    &none  &none
            >;

            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
        };

        fn {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //  F5 |  F6 | F7  | F8  |     |                |         |         |        |     |      |
            //  F1 |  F2 | F3  | F4  | DEL |                |         |         |        |     |      |
            //  F9 | F10 | F11 | F12 |     |                |   ,,    |   ,,    |        |     |      |
            //         |      |     |      |     |      |           |         |      |

            bindings = <
  &kp F5    &kp F6    &kp F7     &kp F8      &none      &none  &kp F7  &kp F8  &kp F9  &kp F12
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &kp DEL    &none  &kp F4  &kp F5  &kp F6  &kp F11
  &kp F9    &kp F10   &kp F11    &kp F12     &none      &none  &kp F1  &kp F2  &kp F3  &kp F10
                                 &none       &none      &none  &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_DEC C_BRI_INC>;
        };

        bt {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //     |     |     |     |     |                |         |         |        |     |      |
            //     |     |     |     |     |                |   P0    |    P1   |   P2   |  P3 |  P4  |
            //     |     |     |     |     |                | BT/USB  |         |        |     |      |
            //         | CLR  |     |      |

            bindings = <
  &none  &none  &none  &none       &none    &none         &none         &none         &none         &none
  &none  &none  &none  &none       &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
  &none  &none  &none  &none       &none    &out OUT_TOG  &none         &none         &none         &none
                       &bt BT_CLR  &none    &none         &none
            >;
        };

        mouse {
            bindings = <
  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
  &trans  &mo 9   &trans  &trans     &trans       &trans  &trans  &trans  &mo 9   &trans
                          &mkp LCLK  &mkp RCLK    &trans  &trans
            >;
        };

        click {
            bindings = <
  &trans     &trans    &trans     &trans      &trans       &trans     &trans           &trans     &trans    &trans
  &kp LGUI   &kp LALT  &kp LCTRL  &kp LSHIFT  &trans       &trans     &kp RIGHT_SHIFT  &kp RCTRL  &kp LALT  &kp RGUI
  &kp LCTRL  &trans    &kp LALT   &kp LCMD    &trans       &trans     &trans           &trans     &trans    &trans
                                  &mkp LCLK   &mkp RCLK    &mkp RCLK  &mkp LCLK
            >;
        };

        scrolly_moly {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                          &trans  &trans    &trans  &trans
            >;
        };

        // ball point

        biro {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                          &trans  &trans    &trans  &trans
            >;
        };
    };
};
